<% include ./partials/header.ejs %>
<% include ./partials/navbar.ejs %>
<div class="row header-album-title">
    <div class="two-thirds column"></div>

      <div class="five columns"> </div>

  </div>
   <div class="row">
  <div class='two-thirds column reviews-div'>
    <div class="row">
       <span class='add-review-button'><a href=/reviews/new/<%= albums[0].id %> class="button">Add Review</a></span>
       <span class='review-page-head'><h1> <%= albums[0].title %> Reviews</h1></span>
    </div>
  <% reviews.forEach((reviews) => { %>
    <div class="row">
      <span class='review-album-title'><%= reviews.title %></span>
      <span class='review-album-date'> <i><%= reviews.logged %></i></span>
    </div>
    <div class='review-p'>
     <%= reviews.review %>
   </div>
   <div class='review-by'>
     <i>by <%= reviews.username %></i>
   </div>
    <br>
  <% }); %>
  </div>
</div>

<% include ./partials/footer.ejs %>
